# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/vs
/.vs

*.vhdx
bin/
binInt/
ImageBuilder/obj
/QemuManager/obj
/Tools/Run/
/Tools/Build/
/Tools/x64_Debug_AttachScript.txt
/Tools/x64_Debug_DetachScript.txt
/Tools/x64_Debug_MountScript.txt
/Tools/x64_Debug_VirtualOS.vhd
/workload-install.ps1
