# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/vs
/bin/x64/Debug
/binInt/x64/Debug
/ImageBuilder/obj
/QemuManager/obj
/.vs
/Tools/Run/OVMF
/Tools/Run/QemuRunner.deps.json
/Tools/Run/QemuRunner.pdb
/Tools/Run/QemuRunner.runtimeconfig.json
/Tools/Run/x64_Debug_AttachScript.txt
/Tools/Run/x64_Debug_DetachScript.txt
/Tools/Run/x64_Debug_MountScript.txt
/Tools/Run/x64_Debug_VirtualOS.vhdx
*.vhdx
/Tools/Build/ImageBuilder.deps.json
/Tools/Build/ImageBuilder.pdb
/Tools/Build/ImageBuilder.runtimeconfig.json
/Tools/x64_Debug_AttachScript.txt
/Tools/x64_Debug_DetachScript.txt
/Tools/x64_Debug_MountScript.txt
