# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/vs
/.vs

*.vhdx
bin/
binInt/
/ImageBuilder/obj
/QemuManager/obj
/Tools
/workload-install.ps1
*.vhd
/UEFIRefs/obj/Debug/net11.0/System.Private.CoreLib.pdb
/UEFIRefs/obj/Debug/net11.0/UEFIRefs.AssemblyInfo.cs
/UEFIRefs/obj/Debug/net11.0/UEFIRefs.AssemblyInfoInputs.cache
/UEFIRefs/obj/Debug/net11.0/UEFIRefs.csproj.CoreCompileInputs.cache
/UEFIRefs/obj/Debug/net11.0/UEFIRefs.csproj.FileListAbsolute.txt
/UEFIRefs/obj/Debug/net11.0/UEFIRefs.GeneratedMSBuildEditorConfig.editorconfig
/UEFIRefs/obj/Debug/net11.0/UEFIRefs.sourcelink.json
/UEFIRefs/obj
/UEFISharp/obj/ARM64
/UEFISharp/obj/x64
/UEFISharp/obj/x86/Debug/net11.0
/x64/Release
